DfsrPrivate/
ContractImages/
SubjectCoverImg/
1/
static/

node_modules
aspnet_client
ashx/
test/

*********
***Ignore Content******
*********
content/


*********
***Include Content******
*********
!content/m/v2/*/*/*
!content/v1/*/*/*
!content/libs/*/*/*


.DS_Store
.ffs_db
*.config
*.cache
*.webinfo
*.log
*.bak
*.sln
*.vs
*.cmd
*.thumb
*.tmp
/.jshintrc

